/* Gmail app */

.basic-window[data-name="gmail-app"] {
  top: 40%;
  left: 30%;
}

#gmail-app-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#gmail-app-content #logo {
  align-self: center;
}

.mail-fileds {
  width: 600px;
  height: 60px;
  border-bottom: solid var(--light-grey) 1px;
  background: none;
}

#gmail-app-content #message-field {
  font-size: 1rem;
  height: 200px;
  border: none;
  resize: none;
}

#gmail-app-content #message-field::placeholder {
  font-family: "DM Sans", sans-serif;
  align-self: top;
  color: var(--water-mark-grey);
  font-size: 30px;
  font-weight: 600;
}

#gmail-app-content #message-field::placeholder {
  font-family: "DM Sans", sans-serif;
  align-self: top;
  color: var(--water-mark-grey);
  font-size: 30px;
  font-weight: 600;
}

#gmail-app-content #message-field:focus::placeholder {
  color: transparent;
}

#send-email {
  align-self: flex-start;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--blue);
  color: white;
  font-weight: 300;
  cursor: pointer;
}
