@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;500;600&display=swap");

/* Variables */
:root {
  --ice: rgba(242, 242, 242, 1);
  --dark-ice: rgb(202, 201, 201);
  --light-black: rgba(39, 39, 39, 1);
  --light-grey: rgba(123, 123, 123, 1);
  --water-mark-grey: rgba(145, 145, 145, 1);
  --light-trasparent-grey: rgba(109, 128, 134, 0.3);
  --red: rgba(224, 67, 67, 1);
  --blue: rgba(11, 87, 208, 1);
  --github-dark-blue: rgba(22, 27, 34, 1);
  --github-green: rgba(35, 134, 54, 1);
  --linkedin-blue: rgba(0, 122, 185, 1);
  --transparent-background: rgba(0, 26, 43, 0.486);
  --transparent-background-light: rgba(109, 128, 134, 0.3);
}

/* Custom body params */
body {
  font-family: "DM Sans", sans-serif;
  background-image: url("../../images/wallpaper.jpg");
}

/* Basic window container */

.basic-window {
  background-color: var(--ice);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dark-theme {
  background-color: var(--github-dark-blue);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 5px;
}

/* Default content layout */

.content {
  margin: 45px;
}

/* Redirect content layout */

.redirect-content {
  width: 650px;
  margin: 45px;
  display: grid;
  grid-template:
    "title image"
    "redirect-btn image"
    / 1fr;
  gap: 10px;
}

/* Basic window title bar and tools  */

.title-bar {
  width: 100%;
  height: auto;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.title-bar .label-box {
  margin: 10px;
  font-size: 0.9rem;
  user-select: none;
}

#dark-theme .title-bar .label-box {
  color: white;
}

.title-bar .buttons-box div {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.buttons-box div:before,
.buttons-box div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: var(--light-grey);
  border-style: solid;
  border-width: 0 0 2px 0;
}

.buttons-box div:before,
.buttons-box div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: var(--light-grey);
  border-style: solid;
  border-width: 0 0 2px 0;
}

#dark-theme .buttons-box div:before,
#dark-theme .buttons-box div:after {
  border-color: var(--ice);
}

.buttons-box .minimize:before {
  border-bottom-width: 2px;
}

.buttons-box .close:before,
.buttons-box .close:after {
  bottom: 50%;
  top: 50%;
}

.buttons-box .close:before {
  transform: rotate(45deg);
}

.buttons-box .close:after {
  transform: rotate(-45deg);
}

#dark-theme .buttons-box div:hover,
.buttons-box div:hover {
  background-color: var(--dark-ice);
}

#dark-theme .buttons-box .close:hover,
.buttons-box .close:hover {
  background-color: var(--red);
}

#dark-theme .buttons-box div:hover:after,
#dark-theme .buttons-box div:hover:before,
.buttons-box div:hover:after,
.buttons-box div:hover:before {
  border-color: var(--light-grey);
}

#dark-theme .buttons-box .close:hover:after,
#dark-theme .buttons-box .close:hover:before,
.buttons-box .close:hover:after,
.buttons-box .close:hover:before {
  border-color: var(--ice);
}

.hidden {
  display: none;
}

.closed {
  display: none;
}

.watermark-logo {
  position: fixed;
  width: 30%;
}

@media screen and (max-width: 900px) {
  .basic-window {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0px;
  }

  #dark-theme {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0px;
  }

  .title-bar {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    pointer-events: none;
  }

  .title-bar .buttons-box div {
    padding: 15px;
    pointer-events: initial;
  }

  .minimize {
    display: none;
  }
}
