/* Toolbar */

.toolbar {
  background-color: var(--transparent-background);
  border-radius: 30px 30px 0px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.clock {
  margin: 5px;
  padding: 15px 30px;
  background-color: var(--transparent-background-light);
  border-radius: 50px;
  color: white;
  font-size: 1.25rem;
  user-select: none;
}

.home-btn {
  margin: 5px;
  padding: 15px;
  background-color: var(--transparent-background-light);
}

.icons-section {
  margin: 5px;
  padding: 15px;
  background-color: var(--transparent-background-light);
}
